<footer class="main-footer">
  <strong>Developed By  &copy; {% now "Y" %}.</strong>
  <div class="socials">
    <!-- <a href="https://www.linkedin.com/in/yogaraj-s-b67ab8269/"><i class="ri-linkedin-line"></i></a> -->
    <a href="https://github.com/SubashSK777"><i class="fab fa-github">Subash Kumar</i></a> 
    <br>
    <a href="https://github.com/yogarajjuju"><i class="fab fa-github">Yogaraj.S</i></a>
    <br>
    <a href="https://github.com/Sahithyan04"><i class="fab fa-github">Sahithyan.M</i></a>
    <br>
    <!-- <a href="https://github.com/Sahithyan04"><i class="fab fa-github">Sahithyan.M</i></a> -->
    <a href="https://github.com/Sanjayrao0508"><i class="fab fa-github">Sanjay.R</i></a>
  </div>
  
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0
  </div>
</footer>